#countLabel {
    display: flex;   
    margin-right: 50%;
    margin-left: 50%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#div {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items:center;
    justify-content: center;
    margin-right: 50%;
    margin-left: 50%;
}

#decreaseBtn {
    margin-right: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    border-radius: 6px;
    font-size: 20px;
}
#decreaseBtn:hover {
    background-color: rgb(216, 215, 215);
}
#decreaseBtn:active {
    background-color: rgb(225, 225, 225);
}

#resetBtn {
    margin-right: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    border-radius: 6px;
    font-size: 20px;
}
#resetBtn:hover {
    background-color: rgb(216, 215, 215);
}
#resetBtn:active {
    background-color: rgb(225, 225, 225);
}

#increaseBtn {
    margin-right: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    border-radius: 6px;
    font-size: 20px;
}
#increaseBtn:hover {
     background-color: rgb(216, 215, 215);
}
#increaseBtn:active {
    background-color: rgb(225, 225, 225);
}